<div class="container visible-lg visible-md">

    <div class="col-md-6 prev">
        <a href="{{ prevnext.prev.link }}">
        <span class="pull-left">
        <img src="/assets/arrow-prev.png"></span>
            <div class="titles">
                <b>PREVIOUS ARTICLE</b><br>{{ prevnext.prev.title }}
            </div>
        </a></div>

    <div class="col-md-6 next">
        <a href="{{ prevnext.next.link }}">
            <div class="pull-left titles">
                <b>NEXT ARTICLE</b><br>{{ prevnext.next.title }}
            </div>
            <div class="pull-right"><img src="/assets/arrow-next.png"></div>
        </a></div>

</div>

<hr class="visible-lg visible-md">

<div class="container">
    <div class="col-xs-12">
        <div>taxonomy links</div>
    </div>
    <div class="col-xs-12">
        <div><h1><h1>{{ title }}</h1></h1></div>
    </div>
</div>

<hr class="visible-lg visible-md">

<div class="container">

    <div class="col-sm-1 visible-lg visible-md">
        <img src="/assets/social-left-column.png">
    </div>

    <div class="col-sm-12 col-md-6">

        <div>
            <img class="img-responsive" width="635" src="http://www.hollywoodreporter.com/{{ image }}" />
            {{ caption|raw }}
        </div>

        <div><h3>{{ deck|raw }}</h3></div>

        <div><p>{{ byline|raw }}</p></div>

        <div>{{ body|raw }}</div>

    </div>

    <div class="col-sm-4 visible-lg visible-md pull-right">

        <div>
            <img src="/assets/placeholder-ad.png">
        </div>

        <div>

            <BR><BR>
            {% for values in associated_articles %}

                {{ values.title }}<br><BR>

            {% endfor %}


        </div>

        <div class="text-center"><a href="#" class="btn btn-danger btn-large">View More</a></div>

    </div>

</div>
