<div class="container visible-lg visible-md">

    <div class="col-md-6 prev">
        <a href="{{ prevnext.prev.link }}">
        <span class="pull-left">
        <img src="/assets/arrow-prev.png"></span>
            <div class="titles">
                <b>PREVIOUS ARTICLE</b><br>{{ prevnext.prev.title }}
            </div>
        </a></div>

    <div class="col-md-6 next">
        <a href="{{ prevnext.next.link }}">
            <div class="pull-left titles">
                <b>NEXT ARTICLE</b><br>{{ prevnext.next.title }}
            </div>
            <div class="pull-right"><img src="/assets/arrow-next.png"></div>
        </a></div>

</div>

<hr class="visible-lg visible-md">

<div class="container">
    <div class="col-xs-12">
        <div>

            {% for links in taxonomy_links %}

                <a class="tax" href="{{ links.link }}">{{ links.term }}</a>

            {% endfor %}

        </div>
    </div>
    <div class="col-xs-12">
        <div><h1><h1>{{ title }}</h1></h1></div>
    </div>
</div>

<hr class="visible-lg visible-md">

<div class="container">

    <div class="col-sm-1 visible-lg visible-md">
        <img src="/assets/social-left-column.png">
    </div>

    <div class="col-sm-12 col-md-6">

        <div>
            <img class="img-responsive" width="635" src="http://www.hollywoodreporter.com/{{ image }}" />
            {{ caption|raw }}
        </div>

        <div><h3>{{ deck|raw }}</h3></div>

        <div><p>{{ byline|raw }}</p></div>

        <div>{{ body|raw }}</div>

        {% if related_photo_galleries %}

        <div id="related-photo-galleries">

            {% for gallery in related_photo_galleries %}

            <div class="gallery ">

                <h2 class="thr-subtitle thr-subtitle-left">
                    <em>Photo <span>Gallery</span>  </em>
                </h2>
                <div class="links ">
                    <a class="call-to-action call-to-action-gallery" href="{{ gallery.link }}">View Gallery</a>
                    <a class="main-link" href="{{ gallery.link }}">{{ gallery.title }}</a>
                </div>

                <div class="images clearfix">

                    <div class="inner">

                    {% for image in gallery.images %}


                        <a class="img-holder " href="{{  image.link }}">
                            <img src="{{ image.src }}" class="imagecache imagecache-related_photogallery_182_height"/>                                                                                            </a>

                    {% endfor %}

                    </div><!-- close .inner -->

                </div><!-- close .images -->
            </div><!-- close .gallery -->

            {% endfor %}

        </div><!-- close #related-photo-galleries -->

        {% endif %}



        {# GRAVITY Recommended For You block #}
        <div id="grv-personalization-13"></div>
        <script type="text/javascript">
        //<![CDATA[
        (function(){
            window.gravityInsightsParams = {
                "type": "content",
                "action": "",
                "site_guid": "01b0b9ad501e0c849a822e6124ff0fc2"
            };
            var adServerReq,bUrl,doUseGravityUserGuid,includeJs,jq,type,ug,wlPrefix,wlUrl,_ref,_ref1,_ref2;includeJs=function(a){var b;b=document.createElement("script");b.async=!0;b.src=a;a=document.getElementsByTagName("script")[0];return a.parentNode.insertBefore(b,a)};bUrl="";ug=(doUseGravityUserGuid=!0===gravityInsightsParams.useGravityUserGuid?1:0)?"":gravityInsightsParams.user_guid||(null!=(_ref=/grvinsights=([^;]+)/.exec(document.cookie))?_ref[1]:void 0)||"";
            wlUrl=(wlPrefix="http://rma-api.gravity.com/v1/api/intelligence",jq=(null!=(_ref1=window.jQuery)?null!=(_ref2=_ref1.fn)?_ref2.jquery:void 0:void 0)||"",type="iframe",adServerReq=gravityInsightsParams.ad||"",""+wlPrefix+"/wl?jq="+jq+"&sg="+gravityInsightsParams.site_guid+"&ug="+ug+"&ugug="+doUseGravityUserGuid+"&id=grv-personalization-13&pl=13"+("&type="+type+"&ad="+adServerReq+"&x="+(new Date).getTime())+("undefined"!==typeof forceArticleIds&&null!==forceArticleIds&&forceArticleIds.join?"&ai="+forceArticleIds.join(","):
                    "")+("undefined"!==typeof apids&&null!==apids&&""!==apids?"&apids="+encodeURIComponent(apids):""));bUrl&&includeJs(bUrl);wlUrl&&(window.gravityInsightsParams.sidebar&&(window.gravityInsightsParams.wlStartTime=(new Date).getTime()),includeJs(wlUrl));})();
        //]]>
    </script>
        {# END Gravity Recommended For You Block #}

        {# Gravity THR Daily Must Feed #}
        <div id="grv-personalization-27"></div>
    <script type='text/javascript'>
        //<![CDATA[
        (function(){
            window.gravityInsightsParams = {
                'type': 'content',
                'action': '',
                'site_guid': '01b0b9ad501e0c849a822e6124ff0fc2'
            };
            var adServerReq,bUrl,doUseGravityUserGuid,includeJs,jq,type,ug,wlPrefix,wlUrl,_ref,_ref1,_ref2;includeJs=function(a){var b;b=document.createElement("script");b.async=!0;b.src=a;a=document.getElementsByTagName("script")[0];return a.parentNode.insertBefore(b,a)};bUrl="";ug=(doUseGravityUserGuid=!0===gravityInsightsParams.useGravityUserGuid?1:0)?"":gravityInsightsParams.user_guid||(null!=(_ref=/grvinsights=([^;]+)/.exec(document.cookie))?_ref[1]:void 0)||"";
            wlUrl=(wlPrefix="http://rma-api.gravity.com/v1/api/intelligence",jq=(null!=(_ref1=window.jQuery)?null!=(_ref2=_ref1.fn)?_ref2.jquery:void 0:void 0)||"",type="iframe",adServerReq=gravityInsightsParams.ad||"",""+wlPrefix+"/wl?jq="+jq+"&sg="+gravityInsightsParams.site_guid+"&ug="+ug+"&ugug="+doUseGravityUserGuid+"&id=grv-personalization-27&pl=27"+("&type="+type+"&ad="+adServerReq+"&x="+(new Date).getTime())+("undefined"!==typeof forceArticleIds&&null!==forceArticleIds&&forceArticleIds.join?"&ai="+forceArticleIds.join(","):
                    "")+("undefined"!==typeof apids&&null!==apids&&""!==apids?"&apids="+encodeURIComponent(apids):""));bUrl&&includeJs(bUrl);wlUrl&&(window.gravityInsightsParams.sidebar&&(window.gravityInsightsParams.wlStartTime=(new Date).getTime()),includeJs(wlUrl));})();
        //]]>
    </script>
        {# END Gravity THR Daily Must Feed #}

</div>

    <div class="col-sm-4 visible-lg visible-md pull-right">

        <div>
            <img src="/assets/placeholder-ad.png">
        </div>

            <div class="recommended_articles">

        {% if associated_articles %}

                <div class="ra-header">Featured:</div>

            {% for values in associated_articles %}

                <div class="module_wrap">
                    <div class="media">
                        <a href="{{ values.link }}">
                            <img src='{{ values.filepath }}' alt='{{ values.title }}' />
                        </a>
                    </div>
                    <div class="text">
                        <div class="outer">
                            <div class="inner">
                                <a href="{{ values.link }}">{{ values.title }}
                                    <img class="redarr" src="http://www.hollywoodreporter.com/sites/all/themes/thr/images/elements/icon_red_darrow.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% else %}

            {# GRAVITY Most Popular Block #}
            <div id="grv-personalization-18"></div>
            <script type="text/javascript">
                //<![CDATA[
                (function(){
                    window.gravityInsightsParams = {
                        "type": "content",
                        "action": "",
                        "site_guid": "01b0b9ad501e0c849a822e6124ff0fc2"
                    };
                    var adServerReq,bUrl,doUseGravityUserGuid,includeJs,jq,type,ug,wlPrefix,wlUrl,_ref,_ref1,_ref2;includeJs=function(a){var b;b=document.createElement("script");b.async=!0;b.src=a;a=document.getElementsByTagName("script")[0];return a.parentNode.insertBefore(b,a)};bUrl="";ug=(doUseGravityUserGuid=!0===gravityInsightsParams.useGravityUserGuid?1:0)?"":gravityInsightsParams.user_guid||(null!=(_ref=/grvinsights=([^;]+)/.exec(document.cookie))?_ref[1]:void 0)||"";
                    wlUrl=(wlPrefix="http://rma-api.gravity.com/v1/api/intelligence",jq=(null!=(_ref1=window.jQuery)?null!=(_ref2=_ref1.fn)?_ref2.jquery:void 0:void 0)||"",type="iframe",adServerReq=gravityInsightsParams.ad||"",""+wlPrefix+"/wl?jq="+jq+"&sg="+gravityInsightsParams.site_guid+"&ug="+ug+"&ugug="+doUseGravityUserGuid+"&id=grv-personalization-18&pl=18"+("&type="+type+"&ad="+adServerReq+"&x="+(new Date).getTime())+("undefined"!==typeof forceArticleIds&&null!==forceArticleIds&&forceArticleIds.join?"&ai="+forceArticleIds.join(","):
                            "")+("undefined"!==typeof apids&&null!==apids&&""!==apids?"&apids="+encodeURIComponent(apids):""));bUrl&&includeJs(bUrl);wlUrl&&(window.gravityInsightsParams.sidebar&&(window.gravityInsightsParams.wlStartTime=(new Date).getTime()),includeJs(wlUrl));})();
                //]]>
            </script>
            {# END GRAVITY Most Popular Block #}

        {% endif %}

            </div>

        {# GRAVITY Related Videos Block #}
        <div id="grv-personalization-23"></div>
        <script type="text/javascript">
            //<![CDATA[
            (function(){
                window.gravityInsightsParams = {
                    "type": "content",
                    "action": "",
                    "site_guid": "01b0b9ad501e0c849a822e6124ff0fc2"
                };
                var adServerReq,bUrl,doUseGravityUserGuid,includeJs,jq,type,ug,wlPrefix,wlUrl,_ref,_ref1,_ref2;includeJs=function(a){var b;b=document.createElement("script");b.async=!0;b.src=a;a=document.getElementsByTagName("script")[0];return a.parentNode.insertBefore(b,a)};bUrl="";ug=(doUseGravityUserGuid=!0===gravityInsightsParams.useGravityUserGuid?1:0)?"":gravityInsightsParams.user_guid||(null!=(_ref=/grvinsights=([^;]+)/.exec(document.cookie))?_ref[1]:void 0)||"";
                wlUrl=(wlPrefix="http://rma-api.gravity.com/v1/api/intelligence",jq=(null!=(_ref1=window.jQuery)?null!=(_ref2=_ref1.fn)?_ref2.jquery:void 0:void 0)||"",type="iframe",adServerReq=gravityInsightsParams.ad||"",""+wlPrefix+"/wl?jq="+jq+"&sg="+gravityInsightsParams.site_guid+"&ug="+ug+"&ugug="+doUseGravityUserGuid+"&id=grv-personalization-23&pl=23"+("&type="+type+"&ad="+adServerReq+"&x="+(new Date).getTime())+("undefined"!==typeof forceArticleIds&&null!==forceArticleIds&&forceArticleIds.join?"&ai="+forceArticleIds.join(","):
                        "")+("undefined"!==typeof apids&&null!==apids&&""!==apids?"&apids="+encodeURIComponent(apids):""));bUrl&&includeJs(bUrl);wlUrl&&(window.gravityInsightsParams.sidebar&&(window.gravityInsightsParams.wlStartTime=(new Date).getTime()),includeJs(wlUrl));})();
            //]]>
        </script>
        {# END GRAVITY Related Videos Block #}

        {# GRAVITY Most Popular Block #}
        <div id="grv-personalization-19"></div>
        <script type="text/javascript">
            //<![CDATA[
            (function(){
                window.gravityInsightsParams = {
                    "type": "content",
                    "action": "",
                    "site_guid": "01b0b9ad501e0c849a822e6124ff0fc2"
                };
                var adServerReq,bUrl,doUseGravityUserGuid,includeJs,jq,type,ug,wlPrefix,wlUrl,_ref,_ref1,_ref2;includeJs=function(a){var b;b=document.createElement("script");b.async=!0;b.src=a;a=document.getElementsByTagName("script")[0];return a.parentNode.insertBefore(b,a)};bUrl="";ug=(doUseGravityUserGuid=!0===gravityInsightsParams.useGravityUserGuid?1:0)?"":gravityInsightsParams.user_guid||(null!=(_ref=/grvinsights=([^;]+)/.exec(document.cookie))?_ref[1]:void 0)||"";
                wlUrl=(wlPrefix="http://rma-api.gravity.com/v1/api/intelligence",jq=(null!=(_ref1=window.jQuery)?null!=(_ref2=_ref1.fn)?_ref2.jquery:void 0:void 0)||"",type="iframe",adServerReq=gravityInsightsParams.ad||"",""+wlPrefix+"/wl?jq="+jq+"&sg="+gravityInsightsParams.site_guid+"&ug="+ug+"&ugug="+doUseGravityUserGuid+"&id=grv-personalization-19&pl=19"+("&type="+type+"&ad="+adServerReq+"&x="+(new Date).getTime())+("undefined"!==typeof forceArticleIds&&null!==forceArticleIds&&forceArticleIds.join?"&ai="+forceArticleIds.join(","):
                        "")+("undefined"!==typeof apids&&null!==apids&&""!==apids?"&apids="+encodeURIComponent(apids):""));bUrl&&includeJs(bUrl);wlUrl&&(window.gravityInsightsParams.sidebar&&(window.gravityInsightsParams.wlStartTime=(new Date).getTime()),includeJs(wlUrl));})();
            //]]>
        </script>
        {# GRAVITY Most Popular Block #}

    </div>

</div>
